@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: normal;
  src: url("~/assets/font/Yekan Bakh Family/TTF/YekanBakh-Regular.ttf");
  src: url("~/assets/font/Yekan Bakh FaNum/TTF/YekanBakhFaNum-Regular.ttf");
}
* {
  direction: rtl;
  font-family: YekanBakh;
}